<!-- header.html -->
<div class="header">
  <div class="main-nav">
    <li><a href="index.html">Welcome</a></li>
      <li><a class="main-nav--hide" href="">About Me</a></li>
      <li><a class="main-nav--hide" href="">About You</a></li>
    <div class="dropdown">
      <li id="about"><a href="#">About</a></li>
      <div class="dropdown--content">
        <a class="sub" href="">Me</a>
        <a class="sub" href="">You</a>
      </div>
      
    </div>
    <li><a href="#">Nuts & Bolts</a></li>
    <li><a href="#">Therapy</a></li>
    <li><a href="#">Contact</a></li>
  </div>
</div>