<!-- about_you.html -->

@import "header.html"
<div class="about_you_main">
  <div class="row">
    <div class="col-1-of-2">
      <h1>What To Expect</h1>
      <p>Work. Therapy is work, and
          sometimes is not fun (although
          sometimes it really is!) Things might
          get worse for a while in therapy, as
          difficult issues are explored and
          emotions are released. Some sessions
          may leave you feeling emotionally
          drained. Sometimes change and
          results can be dramatic and quick,
          and other times it may go in fits and
          starts, or painfully slowly. My office
          is a safe place for exploring your
          issues, and I also stress that you use
          healthy ways to take good care of
          yourself in the many hours outside
          of therapy</p>
    </div>
    <div class="col-2-of-2">
      <h1>Your Job</h1>
      <p>As a client, you
          need to show up and do your
          homework. You are in therapy
          for only one hour of 168 hours
          of the week. I have no control
          over what you do when you
          walk our the door. So the
          changes often take place out of
          my office, when you experiment
          and try new things. Your job is
          to try to stretch, to think, to
          process, to be curious about
          yourself, and to be a little bit
          brave. In essence, you have to
          work at your therapy. The more
          you put into your therapy, the
          more you will get out of it. I
          cannot change you, but I can be
          with you as your consultant and
          cheerleader as you make
          needed changes. As a result, I
          cannot take the credit for the
          success you have in therapy, you own that</p>
    </div>
  </div>

</div>
@import "footer.html"

</html>