<!-- contact.html -->

@import "header.html"
<div class="address">
  <div class="text_cont">
    <p>410 East Louther St. Suite 214</p>
    <p>Carlisle, PA 17013</p>
    <p>701-601-2235</p>
  </div>

</div>

<div class="tree_image"></div>

<div class="contact_blurb">
  <div class="text_cont2">
    <p>Therapy helps to uncover thoughts, feelings, and emotions that are stored deep within the brain. These are hidden until
      events bring the memories to the surface creating issues for further complications in life. Let us break down the barriers
      forbidding social, emotional, and psychological growth by putting past obstacles to rest.</p>

    <p id="indented">Together we can create peace of mind!</p>
  </div>

</div>
@import "footer.html"

</html>