<!-- contact.html -->

@import "header.html"
<div class="contact_back">
  <div class="address">
    <div class="text_cont">
      <p>410 East Louther St.</p>
      <p>Carlisle, PA 17013</p>
      <p>701-601-2235</p>
      <p id="smaller">*My office is located in the historic Minerva Mills building, behind the Taco Bell in Carlisle. Please enter through
        door #2, go up the stairs to the first door on the left, enter the alcove, and take the door on the right into the
        waiting room.</p>
    </div>

  </div>

  <div class="tree_image"></div>

  <div class="contact_blurb">
    <div class="text_cont2">
      <p>If you are considering therapy, you are looking for answers, perspective, ideas, solutions, and understanding. Some
        people are dealing with recent loss, such as the death of a loved one. Others are seeking resolution to old issues
        rooted in childhood, or past abuse or trauma. Others might be struggling with day-to-day functioning. Whatever it
        is that brings you to therapy, there is hope. Therapy can help you break down the barriers that are standing in your
        way to a better, healthier life.</p>

      <p id="indented">Together we can create peace of mind!</p>
    </div>

  </div>
</div>

@import "footer.html"

</html>