<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Appalachian Counseling LLC</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="mobile-only">
    Appalachian Counseling LLC
  </div>
  @import "header.html"
    <div class="frontLanding">
      <div class="frontLanding--p1">Together we can...</div>
      <div class="frontLanding--p2">create peace of mind</div>
    </div>
    <img class="logo" src="img/logo.png" alt="">
  @import "footer.html"
</body>

</html>