<!-- index.html -->
  
  <!-- header.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Appalachian Counseling LLC</title>
  <link href="https://fonts.googleapis.com/css?family=Berkshire+Swash|Libre+Baskerville:400,400i,700|Raleway" rel="stylesheet">
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="mobile-only">
      <img class="bird" src="http://res.cloudinary.com/whitehatwebdev/image/upload/v1518032612/smallbird1.png" alt="">
      Appalachian Counseling
      <img class="bird" id="bird2" src="http://res.cloudinary.com/whitehatwebdev/image/upload/v1518032613/smallbird1.png" alt="">
  </div>
<div class="header">
  <div class="main-nav">
    <li><a href="index.html">Home</a></li>
      <li><a class="main-nav--hide" href="about_me.html">About Me</a></li>
      <li><a class="main-nav--hide" href="about_you.html">About You</a></li>
    <div class="dropdown">
      <li id="about"><a href="#">About&nbsp;<i class="fas fa-sort-down"></i></a></li>
      <div class="dropdown--content">
        <a class="sub" href="about_me.html">Me</a>
        <a class="sub" href="about_you.html">You</a>
      </div>
      
    </div>
    <li><a href="nuts_bolts.html">Nuts & Bolts</a></li>
    <li><a href="therapy.html">Therapy</a></li>
    <li><a href="contact.html">Contact</a></li>
  </div>
</div>
  
    <div class="frontLanding" id="frontLanding">
      <div class="frontLanding--p1">Together we can...</div>
      <div class="frontLanding--p2">create peace of mind.</div>
    <img class="logo" src="http://res.cloudinary.com/whitehatwebdev/image/upload/v1518032311/logo_syq300.png" alt="">
      
    </div>
    <!-- 5 image gallery -->
    <div class="image_gallery">
      <div class="image_gallery--pictures">
        <img src="https://res.cloudinary.com/whitehatwebdev/image/upload/v1517890824/p1_wheat_uldsbe.jpg" alt="">
        <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/v1517890838/p1_stairs_itkl7z.jpg" alt="">  
        <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/v1517890815/p1_rocks_qh8ly7.jpg" alt=""> 
        <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/q_auto:good/v1517890821/p1_boat_wf717x.jpg" alt="">  
        <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/q_auto:good/v1517890822/p1_horses_gowlsp.jpg" alt="">  
      </div>
    </div>

    <!-- Footer -->
    <footer>
      <div class="white_message"> 
        <p>Professional Counseling</p>
      </div>
      <div class="brown_message">
        <div class="quote">
          <p>"People usually come to therapy because they have tried everything they know how to do to make things better in their life,
              and it is not working. I see myself as a person who helps you to discover options you did not know you had."<br>
              <span>-Teri Stephens, LCSW</span>
            </p>
          </div>
          <div class="space"></div>
       
        <p id="copyright">Appalachian Counseling &#9400; 2018</p>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about_me.html">About Me</a></li>
            <li><a href="about_you.html">About You</a></li>
            <li><a href="nuts_bolts.html">Nuts and Bolts</a></li>
            <li><a href="therapy.html">Therapy</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
      </div>
    </footer>
</body>
</html>