<!-- nuts_bolts.html -->

@import "header.html"
<div class="nuts_back">
  <div class="nuts_main">
    <p>
      <span class="nuts_main--head">Insurances Accepted:</span>
      <ul>
        <li>Highmark</li>
        <li>Capital Blue Cross</li>
        <li>Cigna</li>
        <li>Optum</li>
        <li>UPMC</li>
        <li>Quest</li>
        <li>United Health Care</li>
        <li>Private Pay</li>
        <li>Medicare</li>
      </ul>
      <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/q_auto:good/v1517890812/nuts_1_v85jtm.jpg" alt="">

      <span class="nuts_main--head">Insurances Not Accepted:</span>
      <ul>
        <li>Aetna</li>
      </ul>
    </p>
  </div>
  <div class="nuts_footer">
    <img src="http://res.cloudinary.com/whitehatwebdev/image/upload/q_auto:eco/v1517890862/nuts_rocks_tnsvfp.jpg" alt="">
  </div>
</div>

@import "footer.html"

</html>