<!-- therapy.html -->

@import "header.html"
<div class="therapy_main">
  <div class="flex-container">
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/substance.jpg" alt="">
          <p class="text--top text">Substance Abuse</p>
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/trauma.jpg" alt="">
          <p class="text--center text">Simple and Complex Trauma</p>
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/ptsd.jpg" alt="">
          <p class="text--top2 text">PTSD</p>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/eating.jpg" alt="">
          <p class="text--top text">Eating Disorders</p>
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw  therapy_main--bw--lighthouse" src="img/lighthouse.jpg" alt="">
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/bereavement.jpg" alt="">
          <p class="text--low text">Bereavement</p>
    </div>
  </div>
  <div class="flex-container">
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/anxiety.jpg" alt="">
          <p class="text--low2 text">Anxiety and Panic</p>
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/depression.jpg" alt="">
          <p class="text--top-left text">Depression</p>
    </div>
    <div class="flex-row">
          <img class="therapy_main--bw" src="img/attachment.jpg" alt="">
          <p class="text--low2 text">Adult Attachment Issues</p>
    </div>
  </div>
</div>
@import "footer.html"
</html>