.about_you_main {
  height: auto;
  padding-bottom: 6rem;
  background-image: url(../img/about_you_background.jpg);
  background-size: cover;
  background-position: left;
  .row {
    padding-top: 3rem;
    max-width: 70%;
    color: white;
    h1 {
      text-align: center;
      font-family: $baskerville;
      font-size: 2.4rem;
    }
    p {
      font-family: $baskerville;
      line-height: 1.5;
      font-size: 1.2rem;
    }
    .col-1-of-2 {
      padding: 0.5rem 2rem;
      background-color: rgba(80, 46, 24, 0.70);
    }
    .col-2-of-2 {
      padding: 0.5rem 2rem;
      margin-top: 5rem;
      background-color: rgba(80, 46, 24, 0.70);
      width: 40%;
    }
  }
}

// MOBILE STYLES

@media only screen and (max-width: 460px) and (min-width: 0px) {
  .about_you_main {
    height: auto !important;
    padding-bottom: 2rem;
  }
}
@media only screen and (max-width: 768px) and (min-width: 0px) {
  .about_you_main {
    height: auto;
    padding-bottom: 3rem;
    .row {
      max-width: 90%;
      h1 {
      }
      p {
      text-align: center;
        
      }
      .col-1-of-2 {
        width: 100%;
      }
      .col-2-of-2 {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 1300px) and (min-width: 768px) {
  .about_you_main {
    height: auto;
    padding-bottom: 4rem;
    .row {
      max-width: 60%;
      h1 {
      }
      p {
      }
      .col-1-of-2 {
        width: 100%;
      }
      .col-2-of-2 {
        width: 100%;
      }
    }
  }
}
